---
mqtt:
  broker: {{ jmqttp_mqtt_broker }}
  port: {{ jmqttp_mqtt_port }}
  topic: {{ jmqttp_mqtt_topic }}

jenkins:
  url: {{ jmqttp_jenkins_url }}
  username: {{ jmqttp_jenkins_user }}
  password: {{ jmqttp_jenkins_password }}
  view: {{ jmqttp_jenkins_view }}
  poll_frequency: {{ jmqttp_jenkins_poll_frequency }}
